In [1]:
import pandas as pd

In [2]:
from sklearn  import  preprocessing

In [3]:
from sklearn.metrics import accuracy_score

In [4]:
from sklearn.metrics import confusion_matrix

In [28]:
df=pd.read_csv("train.csv")

In [29]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## *Encoding of categorical variables*

In [30]:
le=preprocessing.LabelEncoder()
df['Sex']=le.fit_transform(df['Sex'])
df['Embarked']=le.fit_transform(df['Embarked'])

In [31]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,2
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,2

## *Check for null values*

In [32]:
df.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

## *Dropping of irrelevant features*

In [33]:
df=df.drop(['PassengerId','Cabin','Ticket','Name'],axis=1)
df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.0      1      0   7.2500         2
1         1       1    0  38.0      1      0  71.2833         0
2         1       3    0  26.0      0      0   7.9250         2
3         1       1    0  35.0      1      0  53.1000         2
4         0       3    1  35.0      0      0   8.0500         2

In [16]:
from sklearn import svm

In [17]:
from sklearn.model_selection import train_test_split

In [34]:
def SVM(df,dv):
        x=df.drop(columns=[dv],axis=1)
        y=df[dv]
        x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=0)
        clf = svm.SVC(gamma=0.01, C=100)
        clf.fit(x_train,y_train)
        y_predict = clf.predict(x_test)
        print("Dependent Variable is",dv)
        print("\nAccuracy Score is ")
        print(accuracy_score(y_test,y_predict))
        print("\nConfusion Matrix is")
        print(confusion_matrix(y_test,y_predict))
        print("--------------------------------------------------------------------")

In [35]:
dv = ['Survived','Pclass','Sex','SibSp','Parch','Embarked']
for j in dv:
    SVM(df,j)

Dependent Variable is Survived

Accuracy Score is
0.7415730337078652

Confusion Matrix is
[[124  33]
 [ 36  74]]
--------------------------------------------------------------------
Dependent Variable is Pclass

Accuracy Score is
0.9026217228464419

Confusion Matrix is
[[ 64   4   2]
 [  4  36   9]
 [  1   6 141]]
--------------------------------------------------------------------
Dependent Variable is Sex

Accuracy Score is
0.7265917602996255

Confusion Matrix is
[[ 66  32]
 [ 41 128]]
--------------------------------------------------------------------
Dependent Variable is SibSp

Accuracy Score is
0.7490636704119851

Confusion Matrix is
[[150  24   7   0   1   0   0]
 [ 21  39   5   0   0   0   0]
 [  4   1   3   0   0   0   0]
 [  0   2   1   3   1   0   0]
 [  0   0   0   0   2   0   0]
 [  0   0   0   0   0   1   0]
 [  0   0   0   0   0   0   2]]
--------------------------------------------------------------------
Dependent Variable is Parch

Accuracy Score is
0.797752808988764

Confusion Matrix is
[[187   6   5   0   0   0]
 [ 21  15   3   0   0   1]
 [ 10   6  11   0   0   0]
 [  0   0   1   0   0   0]
 [  1   0   0   0   0   0]
 [  0   0   0   0   0   0]]
--------------------------------------------------------------------

Dependent Variable is Embarked

Accuracy Score is
0.7677902621722846

Confusion Matrix is
[[ 23   2  24]
 [  0   8  14]
 [ 18   4 174]]
--------------------------------------------------------------------

## *Conclusion*

From Above it is clear that Accuracy Score is high , **94%** when Dependent Variable is **Pclass** and remaining are independent Variables